<%= form_for(room) do |f| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :rentPerMonth %>
    <%= f.text_area :rentPerMonth %>
  </div>

  <div class="field">
    <%= f.label :preferedGender %>
    <%= f.text_area :preferedGender %>
  </div>

  
  <div class="actions">
    <%= f.submit %>
  </div>

  
  <%= f.fields_for :location do |d| %>
    <div class="field">
        <%= d.label :suburb %>
        <%= d.text_area :suburb %>
    </div>
    <div class="field">
        <%= d.label :city %>
        <%= d.text_area :city %>
    </div>
    <div class="field">
        <%= d.label :province %>
        <%= d.text_area :province %>
    </div>
    <div class="field">
        <%= d.label :country %>
        <%= d.text_area :country %>
    </div>
  <% end %>

<% end %>