<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @room.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Rent Per Month:</strong>
  <%= @room.rentPerMonth %>
</p>

<p>
  <strong>Prefered Gender:</strong>
  <%= @room.preferedGender %>
</p>

<p>
  <strong>Location:</strong>
  <%= @room.city %>
</p>

<p>
<strong>Submitted by:</strong>
  <%= @room.user.email %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
